[submodule "vtr3"]
	path = vtr3
	url = git@github.com:utiasASRL/vtr3.git
	branch = main
	commit = 2de0492
[submodule "vtr_testing_radar"]
	path = vtr_testing_radar
	url = https://github.com/cheneyuwu/vtr_testing_radar.git
        branch = main
        commit = 4956006
[submodule "pyboreas"]
	path = pyboreas
	url = https://github.com/utiasASRL/pyboreas.git
	branch = master
	commit = c9163ea
